{% extends "layout.html" %}
{% block content %}
    <h1>Gruppe: {{ group.name }}</h1><br>
    <form method="POST">
    <ul>
        <li>
            <strong>id: </strong>{{ group.id }}
        </li>
        <li>
            <strong>name: </strong>{{ group.name }}
        </li>
        <li>
            <strong>GroupId: </strong>{{ group.groupId }}
        </li>
        <li>
            <strong>AssignableUsers:</strong>
        </li>   
    <ul>
        {% for user in  group.assignableUsers %}     
                <li>
                    <div>
                        <select name="assigned[{{ user.id }}]" size="1">
                            <option value="1"{{ user.assigned ? " selected" : '' }}>Ja</option>
                            <option value="0"{{ not user.assigned ? " selected" : '' }}>Nein</option>
                        </select>
                        {{ user.id }}: {{ user.firstname }} {{ user.lastname}}
                    </div>
                </li>
        {% endfor %}
            </ul>
        </li>
    </ul>
    <button type="submit">speichern</button>
    <button onclick=" location.href='/groups/{{ group.id }}'" class="button">Abbrechen</button>
    <br>
    <br>
    <button onclick=" location.href='/users/me'" class="button">Benutzer</button> 
    <button onclick=" location.href='/groups'" class="button">Gruppen</button>
    <button onclick=" location.href='/logout'" class="button">Ausloggen</button>
</form>
{% endblock %}