{% extends "layout.html" %}
{% block content %}
    <h1>Gruppe: {{ group.name }}</h1><br>
    <form method="POST">
    <strong>AssignableUsers:</strong>  
    <div class="flex">
        {% for user in  group.assignableUsers | sort((a, b) => a.lastname <=> b.lastname) %}    
            <div class= "{% if user.assigned =='nein'%}false{%endif%}">
                <select name="assigned[{{ user.id }}]" size="1">
                    <option value="1"{{ user.assigned ? " selected" : '' }}>Ja</option>
                    <option value="0"{{ not user.assigned ? " selected" : '' }}>Nein</option>
                </select>
                {{ user.firstname }} {{ user.lastname}}
            </div>
    {% endfor %}
    </div>
    <button type="submit">speichern</button>
    <button onclick=" location.href='/groups/{{ group.id }}'" class="button">Abbrechen</button>
    <br>
    <br>
    <button onclick=" location.href='/users/me'" class="button">Benutzer</button> 
    <button onclick=" location.href='/groups'" class="button">Gruppen</button>
    <button onclick=" location.href='/logout'" class="button">Ausloggen</button>
</form>
{% endblock %}