{% extends "layout.html" %}
{% block content %}
    <h1>Gruppen</h1><br>
    <ul>
        {% for key, value in  groups %}
                    <li>
                        <strong>Gruppenname:</strong> {{ value.groupname }}
                        {% if value.id %}
                        <a href=" /groups/{{ value.id }}">zu Gruppe</a><br>
                        {%endif%}  
                        <strong>Groupexternalnumber:</strong> {{ value.groupexternalnumber }}<br> 
                        <strong>Groupinternalnumber:</strong> {{ value.groupinternalnumber }}
                    </li><br>
        {% endfor %}
    </ul>
    <button onclick=" location.href='/users/me'" class="button">Benutzer</button> 
    <button onclick=" location.href='/logout'" class="button">Ausloggen</button>
{% endblock %}