<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gruppen</title>
</head>
<body>
    <h1>Gruppen</h1><br>
    <ul>
        {% for key, value in  groups %}
            <li>
                <strong>{{ key }}:</strong>
                <ul>
                    <li>
                        <strong>Gruppenname:</strong> {{ value.groupname }}
                        {% if value.id %}
                        <a href=" /groups/{{ value.id }}">zu Gruppe</a>
                        {%endif%}
                    </li>
                    <li>    
                        <strong>Groupexternalnumber:</strong> {{ value.groupexternalnumber }}
                    </li>
                    <li>    
                        <strong>Groupinternalnumber:</strong> {{ value.groupinternalnumber }}
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href=" users/me">Benutzer</a><br>
    <a href=" /logout">Ausloggen</a><br>
</body>
</html>