{% extends "layout.html" %}
{% block content %}
    <h1>Gruppe: {{ group.name }}</h1><br>
    <ul>
        <li>
            <strong>id: </strong>{{ group.id }}
        </li>
        <li>
            <strong>name: </strong>{{ group.name }}
        </li>
        <li>
            <strong>GroupId: </strong>{{ group.groupId }}
        </li>
        <li>
            <strong>AssignableUsers:</strong>
            <ul>
        {% for user in  group.assignableUsers %}
                    <li>
                        <div>
                            <strong>{{ user.assigned ? 'ja' : 'nein' }}</strong> {{ user.id }}: {{ user.firstname }} {{ user.lastname}}
                        </div>
                    </li>
        {% endfor %}
           </ul>
        </li>
    </ul>
    <button onclick=" location.href='/groups/{{ group.id }}/edit'" class="button">Ändern</button>
    <br>
    <br>
    <button onclick=" location.href='/users/me'" class="button">Benutzer</button>
    <button onclick=" location.href='/groups'" class="button">Gruppen</button>
    <button onclick=" location.href='/logout'" class="button">Ausloggen</button>
{% endblock %}