<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gruppen</title>
</head>
<body>
    <h1>Gruppen</h1><br>
    <ul>
        {% for key, value in  groups %}
            <li>
                <strong>{{ key }}:</strong>
                <ul>
                    {% for key, value in value %}
                        <li>
                            <strong>{{ key }}:</strong> {{ value }}
                            {% if key == "id" %}
                            <a href=" /groups/{{ value }}">zu Gruppe</a>
                            {%endif%}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href=" users/me">Benutzer</a><br>
    <a href=" /logout">Ausloggen</a><br>
</body>
</html>