{% extends "layout.html" %}
{% block content %}
    <h1>Gruppe: {{ group.name }}</h1><br>
        <strong>AssignableUsers:</strong>
        <div class="flex">
        {% for user in  group.assignableUsers | sort((a, b) => a.lastname <=> b.lastname) %}
                <div class= "{% if user.assigned =='nein'%}false{%endif%}">
                    <strong>{{ user.firstname }} {{ user.lastname}}</strong>
                </div>             
        {% endfor %}
    </div>  
    <button onclick=" location.href='/groups/{{ group.id }}/edit'" class="button">Ändern</button>
    <br>
    <br>
    <button onclick=" location.href='/users/me'" class="button">Benutzer</button>
    <button onclick=" location.href='/groups'" class="button">Gruppen</button>
    <button onclick=" location.href='/logout'" class="button">Ausloggen</button>
{% endblock %}