<!DOCTYPE html>
<html>
<head>
    <title>Benutzer</title>
</head>
<body>
    <div class = "user">
        <h1>Benutzer: </h1><br>
        <a>Email: {{email}}</a><br>
        <a>FirstName: {{firstName}}</a><br>
        <a>FamilyName: {{familyName}}</a><br>
        <a>Id: {{id}}</a><br>
        <a>Language: {{language}}</a><br>
        <a>Login: {{login}}</a><br>
        <a>PersonId: {{personId}}</a><br>
        <br>
        <a href=" /groups">Gruppen</a><br>
        <a href="/contacts/tags">Kontakte</a><br>
        <a href=" /logout">Ausloggen</a><br>
    </div>
</body>
</html>